fastapi
uvicorn
requests
arxiv
PyMuPDF
gdown
torch
transformers
sentencepiece
groq
sentence-transformers
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
faiss-cpu
ddgs
pydantic
